/*CSS DOCUMENT*/


img {
width: 100%;
}

div.introimage {
    max-width: 50em;
    width:90%;
    margin: auto;
}

.container h2{
    color: darkgoldenrod;
    line-height: 1em;
    text-align: center; 
    
}

.container h1{
    
    text-align: center; 
    font-size: 3em; 
}

div.intro p{
    max-width: 50em;
    width:90%;
    font-size: 1em;
    font-family: serif;
    margin: auto;
    
    
}

.ingredients ul{
    
    width: 40%; 
}

.ingredients h3{
    
    background-color: rgb(245, 184, 90);
    color: antiquewhite;
}

.directions ol{
    
    width: 70%; 
}

.directions h3 {
    
    background-color: darkgoldenrod;
    color: antiquewhite;  
}